Repository Sura-framework/sura-view, pull requests merged in 2022-12, with the labels that each got.

#1 Dev
  .github/release-drafter.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  composer.json
  phpcs.xml.dist
  src/Compilers/Concerns/CompilesAuthorizations.php
  src/Compilers/Concerns/CompilesComments.php
  src/Compilers/Concerns/CompilesComponents.php
  src/Compilers/Concerns/CompilesConditionals.php
  src/Compilers/Concerns/CompilesEchos.php
  src/Compilers/Concerns/CompilesErrors.php
  src/Compilers/Concerns/CompilesHelpers.php
  src/Compilers/Concerns/CompilesIncludes.php
  src/Compilers/Concerns/CompilesInjections.php
  src/Compilers/Concerns/CompilesJson.php
  src/Compilers/Concerns/CompilesLayouts.php
  src/Compilers/Concerns/CompilesLoops.php
  src/Compilers/Concerns/CompilesRawPhp.php
  src/Compilers/Concerns/CompilesStacks.php
  src/Lang.php
  src/Traits/ViewLang.php
  src/View.php
  src/helpers.php
  src/myView.php
  tests/AbstractBladeTestCase.php
  tests/CompilationTest.php
  tests/VariablesTest.php
  tests/bootstrap.php
Labels: type:build, dependencies, type:major, type:compilers, type:traits, type:tests, approved

#2 upd
  .github/workflows/tests.yml
Labels: patch, type:build, type:tests, approved

#3 Dev
  .github/workflows/auto_release.yml
  .github/workflows/pull-requests.yml
Labels: patch, type:build, approved

#5 I18N1
  src/Lang.php
  src/myView.php
Labels: type:build, approved

#6 Upd
  src/View.php
Labels: type:build, approved

#7 Upd
  .github/assignee.config.yml
  .github/release-drafter.yml
  .github/workflows/auto_merge.yml
  LICENSE
  README.md
  composer.json
  phpcs.xml.dist
  src/Compilers/Concerns/CompilesAuthorizations.php
  src/Compilers/Concerns/CompilesComments.php
  src/Compilers/Concerns/CompilesComponents.php
  src/Compilers/Concerns/CompilesConditionals.php
  src/Compilers/Concerns/CompilesEchos.php
  src/Compilers/Concerns/CompilesErrors.php
  src/Compilers/Concerns/CompilesHelpers.php
  src/Compilers/Concerns/CompilesIncludes.php
  src/Compilers/Concerns/CompilesInjections.php
  src/Compilers/Concerns/CompilesJson.php
  src/Compilers/Concerns/CompilesLayouts.php
  src/Compilers/Concerns/CompilesLoops.php
  src/Compilers/Concerns/CompilesRawPhp.php
  src/Compilers/Concerns/CompilesStacks.php
  src/Traits/ViewLang.php
  src/View.php
  src/helpers.php
  src/myView.php
  tests/AbstractBladeTestCase.php
  tests/CompilationTest.php
  tests/VariablesTest.php
Labels: type:build, dependencies, type:major, type:compilers, type:traits, type:tests, theme:docs
